$grid-size: 12;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat($grid-size, 1fr);
    grid-template-rows: repeat($grid-size, 1fr);
    grid-auto-rows: auto;
}

.main-content {
    background-color: yellowgreen;
    grid-column: 1 / 10;
    grid-row: 1 / 13;
}

.sidebar {
    background-color: rgb(128, 109, 0);
    grid-column: 10 / 13;
    grid-row: 1 / 13;

}

.navigator {
    background-color: #84e07f;
    height: 10vh;
    grid-column: 1 / 10;
    grid-row: 10 / 11;
}
